<h1><%=@hello.test_text %>!<%=@world.test_text %>!!</h1>
<p>Find me in app/views/test/test_view.html.erb</p>
<p>
    foreach check ->
    <% @hello_world.each do |text| %>
        <%= text.test_text %>
    <% end %>
    !!
</p>
